* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

h3 {
  margin-bottom: 3rem !important;
}

body {
  background-color: #343a40 !important;
}

.app {
  margin: 5rem auto 5rem auto;
  max-width: 1400px;
  padding: 2rem;
}

.container {
  margin-bottom: 5rem;
}